<ion-view>
  <ion-pane>
    <ion-content overflow-scroll="true">
      <div class="card">
        <div class="item item-divider" align="center">
          <h2><strong>Inicio</strong></h2>
        </div>
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="item item-divider">
                <p><strong>Rota atual: </strong> Identificação da rota atual</p>
              </div>
              <div id="map"></div>
              <div class="item item-divider">
                <p><strong>Passageiros por ponto de parada</strong></p>
                <ul class="list">
                  <li class="item">
                    <p><strong>Pono de parada A</strong></p>
                    <p><strong>Passageiro: </strong>Kaique Candido de Oliveira</p>
                    <p><strong>Passageiro: </strong>Antonio Erismar Correia Dias</p>
                    <p><strong>Passageiro: </strong>Izaquiel Cruz</p>
                    <p><strong>Passageiro: </strong>Alexanders Arclino</p>
                  </li>
                  <li class="item">
                    <p><strong>Pono de parada B</strong></p>
                    <p><strong>Passageiro: </strong>Kaique Candido de Oliveira</p>
                    <p><strong>Passageiro: </strong>Antonio Erismar Correia Dias</p>
                    <p><strong>Passageiro: </strong>Izaquiel Cruz</p>
                    <p><strong>Passageiro: </strong>Alexanders Arclino</p>
                  </li>
                </ul>
              </div>
              <div class="item item-text-wrap">
                <div class="button-bar">
                  <a ng-click="solicitarParticipacao()" class="button button-balanced">Solicitar confirmação de passageiros</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ion-content>
  </ion-pane>
</ion-view>
