<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Novo Passageiro</h1>
    <button class="button button-clear button-primary" ng-click="modalNovoPassageiro.hide()">Cancelar</button>
  </ion-header-bar>
  <ion-content class="padding" overflow-scroll="true">

    <label class="item item-input item-floating-label item-input-modal item-input-modal-primeiro-item">
      <span class="input-label">Nome do passageiro</span>
      <input ng-model="newPassageiro.nome" type="text" placeholder="Nome do passageiro"/>
    </label>

    <label class="item item-input item-floating-label item-input-modal">
      <span class="input-label">Matricula do passageiro</span>
      <input ng-model="newPassageiro.matricula" type="text" placeholder="Matricula do passageiro"/>
    </label>

    <label class="item item-input item-select item-input-modal">
      <div class="input-label">Sexo</div>
      <select ng-model="newPassageiro.sexo">
        <option selected="" disabled=""></option>
        <option value="MASCULINO">Masculino</option>
        <option value="FEMININO">Feminino</option>
      </select>
    </label>

    <label class="item item-input item-floating-label item-input-modal">
      <span class="input-label">E-mail do passageiro</span>
      <input ng-model="newPassageiro.login.email" type="text" placeholder="E-mail do passageiro"/>
    </label>

    <label class="item item-input item-floating-label item-input-modal">
      <span class="input-label">Senha de acesso</span>
      <input ng-model="newPassageiro.login.senha" type="password" placeholder="Senha de acesso"/>
    </label>

    <label class="item item-input item-floating-label item-input-modal">
      <span class="input-label">Data de Nascimento</span>
      <input ng-model="newPassageiro.dataDeNascimento" type="text" placeholder="Data de Nascimento"/>
    </label>

    <label class="item item-input item-floating-label item-input-modal">
      <span class="input-label">RG do passageiro</span>
      <input ng-model="newPassageiro.rg" type="text" placeholder="RG do passageiro"/>
    </label>

    <label class="item item-input item-floating-label item-input-modal">
      <span class="input-label">CPF do passageiro</span>
      <input ng-model="newPassageiro.cpf" type="text" placeholder="CPF do passageiro"/>
    </label>

    <label class="item item-input item-floating-label item-input-modal">
      <span class="input-label">Endereço</span>
      <input ng-model="newPassageiro.rua" type="text" placeholder="Endereço"/>
    </label>

    <label class="item item-input item-floating-label item-input-modal">
      <span class="input-label">Bairro</span>
      <input ng-model="newPassageiro.bairro" type="text" placeholder="Bairro"/>
    </label>

    <label class="item item-input item-floating-label item-input-modal">
      <span class="input-label">Cidade</span>
      <input ng-model="newPassageiro.cidade" type="text" placeholder="Cidade"/>
    </label>

    <label class="item item-input item-floating-label item-input-modal">
      <span class="input-label">Estado</span>
      <input ng-model="newPassageiro.estado" type="text" placeholder="Estado"/>
    </label>

    <label class="item item-input item-floating-label item-input-modal">
      <span class="input-label">CEP</span>
      <input ng-model="newPassageiro.cep" type="text" placeholder="CEP"/>
    </label>

    <label class="item item-input item-floating-label item-input-modal">
      <span class="input-label">Telefone</span>
      <input ng-model="newPassageiro.telefone" ng-pattern="/^\d{4,5}-\d{4}$/" type="text" placeholder="Telefone"/>
    </label>

    <button class="button button-full button-balanced" ng-click="salvarNovoPassageiro(newPassageiro)">Salvar</button>

  </ion-content>
</ion-modal-view>
